{% extends 'event/base.html' %}

{% block title %} EventStore {% endblock %}

{% block css %} {% load static %}
<link rel="stylesheet" href="{% static 'css/create.css' %}"> {% endblock %}

{% block body %}

{% if messages %}
<script>
    alert("Event Successfully Created")
    document.location="/event"
</script>
{% endif %}

<div class="container">
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
    <p>Enter Event Details</p>
    <form action="/create/" method="POST" enctype="multipart/form-data"> {% csrf_token %}
        <table>
            {% for field in form %}
            <tr>
                <th>{{ field.label_tag }}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn">Create Event</button>
    </form>
</div>

{% endblock %}