{% extends 'event/base.html' %}

{% block title %} EventStore {% endblock %}

{% block css %} {% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}"> {% endblock %}

{% block body %}


<div class="container">
    {% for event in events %}
    <div class="card">
        <img src="/media/{{event.picture}}" alt="Event Banner" style="width:10%;  height: 200px;">
        <button value="{{event.author}}" class="like" name="{{event.author}}">
            {% if event in likedEvent %}
            <i class="fas fa-heart like-btn" id="{{event.author}}"></i>
            {% else %}
            <i class="far fa-heart like-btn" id="{{event.author}}"></i>
            {% endif %}
        </button>
        <h1>{{event.title}}</h1>
        <p class="price">{{event.created_date}}</p>
        <p>{{event.content_text|slice:'0:100'}}...</p>
    </div>
    {% endfor %}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).on('click', '.like', function (e) {
        var id = $(this).attr('name')
        $.ajax({
            type: "POST",
            url: "{% url 'event:like' %}",
            data: {
                'id': id,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                action: 'post'
            },
            success: function (json) {
                if (json['result'] == 'like') {
                    document.getElementById(id).classList.remove('far');
                    document.getElementById(id).classList.add('fas');
                }
                else{
                    document.getElementById(id).classList.remove('fas');
                    document.getElementById(id).classList.add('far');  
                }
            },
            error: function () {
            }
        });
    })
</script>

{% endblock %}