 .container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     right: 60%;
 }

 .card {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 20%;
    margin: 10px;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: red;
    font-size: 22px;
  }

  .like-btn {
      display: block;
      margin: 0;
      padding: 5px;
      position: absolute;
      width: 40px;
      height: 40px;
      right: 10px;
      top: 45%;
      background: black;
      border-radius: 50%;
      font-size: 40px;
  }

  .like-btn:hover {
    cursor: pointer;
  }

  .menu-btn {
    background-color: white;
    color: rgb(88, 88, 88);
    padding: 16px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.menu-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 160px;
    z-index: 1;
}

nav{
    background-color: white;
}

.links,.links-hidden{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    color: rgb(88, 88, 88);
    padding: 12px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.links-hidden{
    display: block;
}

.links{
    display: inline-block;
}

.main {
    color: rgb(131, 18, 18);
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 800;
}

.links-hidden:hover,.links:hover {
    background-color:rgb(235, 235, 235);
    color: black;
}

.dropdown-menu:hover .menu-content {
    display: block;
}

.dropdown-menu:hover .menu-btn {
    background-color:rgb(235, 235, 235);
    color: black;
}

.searchbox {
    width: 350px;
    height: 40px;
    background-color: rgb(219, 231, 248);
    border: none;
}

.right {
    float: right;
}

  